.card {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
figure {
  display: flex;
  align-items: center;
  max-width: 60%;
  height: 300px;
  overflow: hidden;
  /* min-height: 205px; */
}

figure img {
  max-height: 100%;
}

.card-title {
  text-align: center;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-body {
  width: 100%;
}
.card-text {
  min-height: 54px;
  font-size: 1rem;
  color: rgba(35, 35, 35, 0.717);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
